@font-face {
    font-family: Minecraftia;
    src: url('../fonts/Minecraftia.ttf');
}

.background {
    -fx-background-image: url('../imgs/background.png');
}

.button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-padding: 0;
    -fx-font-family: 'Minecraftia';
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.label {
    -fx-font-family: 'Minecraftia';
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}